
<div class="container">
    <h2>Limpiador multiusos Pinol repelente aroma citricos 1.65L</h2>
    <img src="image 13.png" alt="Image example">
    <div class="price">
        <label for="">$87.94</label>
        <button>Comprar</button>
    </div>
    <p>Pinol Limpiador Repelente es un líquido transparente incoloro biodegradable, contiene ingredientes de origen natural tales como aceite de pino y aceite esencial de naranja.
        - A su aceite de pino se le debe su poder de limpieza
        - Repelencia de insectos y acción desinfectante.
        - Contiene una agradable fragancia de aroma cítrico
        - Envase de PET transparente incoloro con tapa rosca de polipropileno color verde</p>
    <h4>Datos del vendedor<img class="poly" src="Polygon2.png"></h4>
</div>