
<div class="container">
    <input class="input1" type="text" placeholder="Inserte el titulo del producto">
    <div class="img">
        <img src="image 8.png" alt="">
        <p class="">Arrastre las imágenes del producto aquí.
           <br>SVG, PNG, JPG o GIF 
        </p>
    </div>
    <div class="price">
        <input type="text" class="input2" placeholder="Especifique el precio">
        <select class="select" name="" id="">
            <option value="">asfasfa</option>
        </select>
        <img src="Polygon2.png" alt="">
    </div>
    <input type="text" class="input3" placeholder="Añade una descripcion del producto">
</div>